<div class="index">
	<header class="masthead d-flex">
		<div class="container text-center my-auto">
		  <h1 class="mb-1">Links App</h1>
		  <h3 class="my-mb-5">
		  	<em>Save your favorite links</em>
		  </h3>
		  <a href="/singin" class="btn btn-primary">Get Started</a>
		</div>
	</header>
</div>
